# Server A configuration
SERVER_A_PORT=3000
SERVER_A_NAME=ServerA

# Server B configuration
SERVER_B_PORT=4000
SERVER_B_NAME=ServerB

# Common configuration
TOKEN_SECRET=your_secret_key

# Optional: set to true to use Server B config, otherwise Server A will be used
# serverFlag=true
